// COLORS
$color-1: #000000;
$color-2: #b9b9b9;
$color-3: #ffea00;
$color-4: #ff1744;
$color-5: #ffffff;

// LAYER LEVEL
$layer-level-1: 60;
$layer-level-2: 80;
$layer-level-3: 100;
$layer-level-4: 120;
